/* -----MAIN----- */
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  text-decoration: none;
  box-sizing: border-box;
  font-family: var(--primary-font), var(--secondary-font), sans-serif;
  font-weight: 400;

  color: var(--primary-color);
    
  scroll-margin-top: 9.4rem;

  &.center {
    text-align: center;
  }
}
html, body {
  font-size: 10px;
  margin: 0;
  overflow-x: hidden;
}
body {
  color: #000;
  overflow: overlay;
  overflow-x: hidden;

  position: relative;
  -webkit-overflow-scrolling: touch;
}
header {
  position: relative;
  z-index: 100;
}
.disabled {
  opacity: .6;
  pointer-events: none;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
}
.bg-cover {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: var(--white-color);
}

/* Скрываем стандартный скроллбар */
body {
  scrollbar-width: none; /* Для Firefox */
  -ms-overflow-style: none; /* Для IE и Edge */
}

body::-webkit-scrollbar {
  display: none; /* Для Chrome, Safari */
}

body::after {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 4px;
  height: 100%;
  background: #a0a0a5;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 0.3s, background 0.3s;
}

body::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #a0a0a5;
  border: 2px solid #fff;
}

html {
  scroll-behavior: smooth;
}
button {
  cursor: pointer;
  font-size: 1.6rem;
  font-family: (--secondary-font);
  background: none;
}
input,
textarea {
  border: .1rem solid var(--primary-color);
  box-sizing: border-box;
  border-radius: .3rem;
  transition: all 0.2s ease;
  font-size: 1.6rem;
  font-family: (--secondary-font);
}
a, p {
  font-size: 1.6rem;
  font-family: var(--secondary-font);
  line-height: 1.37;
  letter-spacing: 2%;
}
a {
  display: inline-block;
}
a, button {
  cursor: pointer;
}
span {
  color: inherit;
  font-size: inherit;
  font-family: inherit;
  font-weight: inherit;
}
h1, h2, h3, h4, h5, h6, p {
  user-select: none;
}
select {
  border: .1rem solid var(--primary-color);
  box-sizing: border-box;
  border-radius: .3rem;
  appearance: none;
  padding-right: 5.7rem !important;
  background: url("data:image/svg+xml,%3Csvg width='18' height='11' viewBox='0 0 18 11' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M9 10.4969L9.00291 10.4998L18 1.57125L16.9203 0.499822L9 8.35985L1.07965 0.499817L0 1.57124L8.99709 10.4998L9 10.4969Z' fill='black'/%3E%3C/svg%3E%0A")
    right 2rem center no-repeat;
  transition: all 0.2s ease;
  cursor: pointer;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-calendar-picker-indicator {
  color: transparent;
  opacity: 1;
  /* background: url(//www.gravatar.com/avatar/cbfaff96665b7567defe1b34a883db8b?s=16&d=identicon&r=PG) no-repeat center; */
  background: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M19.2852 1.28577H4.71373C2.82018 1.28577 1.28516 2.82079 1.28516 4.71434V19.2858C1.28516 21.1793 2.82018 22.7143 4.71373 22.7143H19.2852C21.1787 22.7143 22.7137 21.1793 22.7137 19.2858V4.71434C22.7137 2.82079 21.1787 1.28577 19.2852 1.28577ZM20.9994 8.14291H2.99944V19.2858C2.99944 20.2325 3.76695 21.0001 4.71373 21.0001H19.2852C20.2319 21.0001 20.9994 20.2325 20.9994 19.2858V8.14291Z' fill='black'/%3E%3Cellipse cx='5.1423' cy='14.5715' rx='0.857143' ry='0.857142' fill='black'/%3E%3Cellipse cx='5.1423' cy='18.4287' rx='0.857143' ry='0.857142' fill='black'/%3E%3Cellipse cx='8.57199' cy='14.5715' rx='0.857143' ry='0.857142' fill='black'/%3E%3Cellipse cx='8.57199' cy='18.4287' rx='0.857143' ry='0.857142' fill='black'/%3E%3Cellipse cx='11.9978' cy='14.5715' rx='0.857143' ry='0.857142' fill='black'/%3E%3Cellipse cx='11.9978' cy='18.4287' rx='0.857143' ry='0.857142' fill='black'/%3E%3Cellipse cx='15.4291' cy='14.5715' rx='1.71428' ry='1.71429' fill='black'/%3E%3Ccircle cx='15.4275' cy='18.4287' r='0.857142' fill='black'/%3E%3Cellipse cx='18.8571' cy='14.5715' rx='0.857143' ry='0.857142' fill='black'/%3E%3Cellipse cx='18.8571' cy='18.4287' rx='0.857143' ry='0.857142' fill='black'/%3E%3C/svg%3E%0A")
    no-repeat center;
  background-size: contain;
}
input::placeholder {
  font-weight: 400;
  font-size: 1.4rem;
  color: rgba(22, 25, 49, 0.5);
}
input:focus,
select:hover,
textarea:focus {
  border-color: var(--accent-color);
}
ul {
  list-style-type: none;
}


input.search-custom-input::placeholder {
  color: rgba(22, 25, 49, 0.5);
}
input.search-custom-input {
  width: 100%;
  max-width: 38rem;
  padding: 1rem 4.4rem;

  font-weight: 400;
  font-size: 1.4rem;
  color: var(--primary-color) !important;

  border: .1rem solid rgba(22, 25, 49, 0.3);
  border-radius: .3rem;
  background: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 18 18' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M11.935 11.2429C11.9473 11.2534 11.9592 11.2644 11.9707 11.276L15.6073 14.9125C15.8583 15.1636 15.8583 15.5706 15.6073 15.8217C15.3562 16.0727 14.9492 16.0727 14.6982 15.8217L11.0616 12.1851C11.0259 12.1494 10.9952 12.1105 10.9696 12.0693C10.0422 12.7017 8.92137 13.0714 7.71418 13.0714C4.51882 13.0714 1.92847 10.4811 1.92847 7.28571C1.92847 4.09035 4.51882 1.5 7.71418 1.5C10.9095 1.5 13.4999 4.09035 13.4999 7.28571C13.4999 8.81632 12.9055 10.2081 11.935 11.2429ZM7.71423 11.7858C10.1995 11.7858 12.2142 9.77105 12.2142 7.28577C12.2142 4.80049 10.1995 2.78577 7.71423 2.78577C5.22895 2.78577 3.21423 4.80049 3.21423 7.28577C3.21423 9.77105 5.22895 11.7858 7.71423 11.7858Z' fill='%23161931' fill-opacity='0.5'/%3E%3C/svg%3E%0A") left 16px center no-repeat;
}
input.search-custom-input:focus {
  border: .1rem solid var(--primary-color);
}
.swiper {
  overflow: visible !important;
}