/* -----VARIABLES----- */
:root {
  --primary-color: #0F1110;
  --primary-color-op10: #0F11101A;
  --primary-color-op20: #0F111033;

  --accent-color: #4481FF;

  --white-color: #FFFFFF;
  --white-color-op10: #FFFFFF1A;
  --white-color-op80: #FFFFFFCC;

  --blue-light-color: #51A9FF;
  
  --gray-color: #54585E;
  --gray-color-op10: #54585E1A;
  --gray-color-op20: #54585E33;
  --gray-color-op30: #54585E4D;
  --gray-color-op40: #54585E66;
  --gray-color-op70: #54585EB3;
  --gray-color-op90: #54585EE6;

  --gray-light-color: #E9E9E9;
  --gray-light-color-op70: #E9E9E9B3;

  --gray-dark-color: #1C1C1C;

  --perple-light-color: #BEACFF;

  --primary-font: 'Unbounded';
  --secondary-font: 'Roboto';
}